

body {
    margin: 0;
    padding: 0;
  }
  html, body, #map, #root {
    height: 100%;
  }
  .start-draw {
    position: absolute;
    left: 10px;
    bottom: 10px;
    background: #efefef;
  }
  .start-draw div {
    float: right;
    border: 1px solid #ccc;
    background: #ddd;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
  }
  .toggle {
    position: absolute;
    bottom: 20px;
    right: 50px;
    width: 100px;
  }